// Uncomment if you want bootstrap
@import 'bootstrap-scss';

html,
body {
  height: 100%;
}

.main {
  margin-top: 20px;
  height: calc(100% -20px);
}

.money {
  &--old {
    padding-left: 6px;

    del {
      color: grey;
    }
  }
  &--new {
    color: #28a745;
  }
}
